*{
    color: white;
}

body{
    background-color: black;
    color: white;
}

nav{
    border: solid 1px white;
    border-radius: 15px;
    background-color: rgb(10, 10, 10);
    margin-bottom: 50px;
}

h1{
    font-size: 50px;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(60, 60, 60);
    font-weight: 100;
    margin-top: -25px;
}

nav>center>hr{
    width: 90%;
    border: solid rgb(190, 190, 190) 10px;
    border-radius: 5px;
}

div{
    display: wrap;
    flex-wrap: nowrap;
    margin-top: 100px;
}

nav>div{
    width: 48%;
}

.mid{
    background-color: white;
    width: 1%;
    height: auto;
    min-height: 10000px;
    border-radius: 200px;
    margin-bottom: 100px;
}

div>nav{
    width: fit-content;
    max-width: 75%;
    background-color: black;
    border-radius: 0px;
    border-radius: 5px;
}

.content{
    display: flex;
}

th{
    border: solid white 1px;
}

.spoiler{
    background-color: red;
    color: red;
}

.spoiler:hover{
    background-color: black;
    color: white;
}

hr{
    border: dashed white 3px;
}

.leftdriver{
    width: 3%;
    background-color: transparent;
    height: auto;
    min-height: 1000px;
}

.stripe{
    background-color: white;
    color: black;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

footer{
    background-color: rgb(69, 69, 69);
    border: white solid 1px;
    border-radius: 15px;
    height: auto;
    min-height: 250px;
    margin-bottom: 50px;
}












